In [46]:
import pandas as pd
import re
from nltk.corpus import stopwords
import nltk
import re

In [2]:
per = pd.read_csv("../datasets/personalidades.csv")

In [3]:
for i in range(len(per["posts"])):
    per["posts"][i] = per["posts"][i].split("|")
    per["posts"][i] = [x for x in per["posts"][i] if x != ""]

In [4]:
df = pd.DataFrame({"come":[],"pers":[]}) #creo un dataframe vacio
df

Empty DataFrame
Columns: [come, pers]
Index: []

In [5]:
#separo cada comentario de cada persona en una fila distinta asi como la personalidad con ese comentario
for y in range(len(per)):
    df = df.append(pd.DataFrame({"come":per["posts"][y],"pers":per["type"][y]}), ignore_index=True)

In [6]:
def preprocessing_sentence(sentence):
    stoplist = set(stopwords.words("english"))
    #quito url
    sentence = re.sub(r'\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*', '', sentence)
    #quito etiquetas
    sentence = re.sub(r'<[^>]*?>', '',sentence)
    #quito signos de puntuacion
    sentence = re.sub('[^a-zA-Z]', ' ',sentence)
    #quito espacios en blanco
    sentence= re.sub(r'\s+', ' ',sentence)
    #todo minusculas
    sentence = sentence.lower()
    #quitar_string_cortos
    sentence = sentence.split()
    sentence = [x for x in sentence if len(x)>=3]
    sentence = " ".join(sentence)
    #quitar palabras irrelevantes que esten en el stopwords
    sentence = sentence.split()
    sentence = [w for w in sentence if w not in stoplist]
    #convierto sentencia a serie pandas, luego a string de lista como el formato con los que entrenó el modelo
    sentence = pd.Series(str(sentence))
    
  
    return sentence

In [7]:
df1 = df.copy()

In [8]:
for s in range(len(df1["come"])):
    df1["come"][s] = preprocessing_sentence(df1["come"][s])

In [12]:
df1["pers"].unique()

array(['INFJ', 'ENTP', 'INTP', 'INTJ', 'ENTJ', 'ENFJ', 'INFP', 'ENFP',
       'ISFP', 'ISTP', 'ISFJ', 'ISTJ', 'ESTP', 'ESFP', 'ESTJ', 'ESFJ'],
      dtype=object)

In [13]:

def sustituir(string,numero):
    df1["pers"] = df1["pers"].replace(string,numero)
    return df1["pers"].unique()

In [93]:
sustituir("ESFJ",16)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
      dtype=int64)

In [96]:
df1.to_csv("../datasets/personalidades_limpio.csv")

                                                     come  pers
0                                   0    []
dtype: object  INFJ
1                                   0    []
dtype: object  INFJ
2       0    ['enfp', 'intj', 'moments', 'sportscenter...  INFJ
3       0    ['life', 'changing', 'experience', 'life'...  INFJ
4                  0    ['repeat', 'today']
dtype: object  INFJ
...                                                   ...   ...
422681  0    ['going', 'close', 'facebook', 'months', ...  INFP
422682  0    ['seconds', 'mars', 'collections', 'seems...  INFP
422683  0    ['seen', 'agree', 'actually', 'think', 'f...  INFP
422684  0    ['watched', 'underworld', 'awakening', 'm...  INFP
422685  0    ['would', 'never', 'want', 'turn', 'emoti...  INFP

[422686 rows x 2 columns]

        Unnamed: 0                                               come  pers
0                0                             0    []\ndtype: object     1
1                1                             0    []\ndtype: object     1
2                2  0    ['enfp', 'intj', 'moments', 'sportscenter...     1
3                3  0    ['life', 'changing', 'experience', 'life'...     1
4                4            0    ['repeat', 'today']\ndtype: object     1
...            ...                                                ...   ...
422681      422681  0    ['going', 'close', 'facebook', 'months', ...     7
422682      422682  0    ['seconds', 'mars', 'collections', 'seems...     7
422683      422683  0    ['seen', 'agree', 'actually', 'think', 'f...     7
422684      422684  0    ['watched', 'underworld', 'awakening', 'm...     7
422685      422685  0    ['would', 'never', 'want', 'turn', 'emoti...     7

[422686 rows x 3 columns]