In [5]:
import pandas as pd
import re
from nltk.corpus import stopwords
import nltk
import re

In [107]:
per = pd.read_csv("../datasets/personalidades.csv")

In [108]:
for i in range(len(per["posts"])):
    per["posts"][i] = per["posts"][i].split("|")
    per["posts"][i] = [x for x in per["posts"][i] if x != ""]

In [109]:
df = pd.DataFrame({"come":[],"pers":[]}) #creo un dataframe vacio
df

Empty DataFrame
Columns: [come, pers]
Index: []

In [110]:
#separo cada comentario de cada persona en una fila distinta asi como la personalidad con ese comentario
for y in range(len(per)):
    df = df.append(pd.DataFrame({"come":per["posts"][y],"pers":per["type"][y]}), ignore_index=True)

In [111]:
def preprocessing_sentence(sentence):
    stoplist = set(stopwords.words("english"))
    #quito url
    sentence = re.sub(r'\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*', '', sentence)
    #quito etiquetas
    sentence = re.sub(r'<[^>]*?>', '',sentence)
    #quito signos de puntuacion
    sentence = re.sub('[^a-zA-Z]', ' ',sentence)
    #quito espacios en blanco
    sentence= re.sub(r'\s+', ' ',sentence)
    #todo minusculas
    sentence = sentence.lower()
    #quitar_string_cortos
    sentence = sentence.split()
    sentence = [x for x in sentence if len(x)>=3]
    sentence = " ".join(sentence)
    #quitar palabras irrelevantes que esten en el stopwords
    sentence = sentence.split()
    sentence = [w for w in sentence if w not in stoplist]
    #convierto sentencia a serie pandas, luego a string de lista como el formato con los que entrenó el modelo
    #sentence = pd.Series(str(sentence))
    
  
    return sentence

In [112]:
df1 = df.copy()

In [113]:
for s in range(len(df1["come"])):
    df1["come"][s] = preprocessing_sentence(df1["come"][s])

In [115]:

def sustituir(string,numero):
    df1["pers"] = df1["pers"].replace(string,numero)
    return df1["pers"].unique()

In [159]:
sustituir("ESFJ",16) #CAMBIADOS

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
      dtype=int64)

In [3]:
df1.to_csv("../datasets/personalidades_limpio.csv")

In [6]:
df = pd.read_csv("../datasets/personalidades_limpio.csv")

In [152]:
df.to_csv("../datasets/personalidades_limpio.csv")

                                                     come  pers
0                                                      []     1
1                                                      []     1
2       ['enfp', 'intj', 'moments', 'sportscenter', 't...     1
3              ['life', 'changing', 'experience', 'life']     1
4                                     ['repeat', 'today']     1
...                                                   ...   ...
422681  ['going', 'close', 'facebook', 'months', 'back...     7
422682  ['seconds', 'mars', 'collections', 'seems', 'f...     7
422683  ['seen', 'agree', 'actually', 'think', 'first'...     7
422684  ['watched', 'underworld', 'awakening', 'must',...     7
422685  ['would', 'never', 'want', 'turn', 'emotions',...     7

[422686 rows x 2 columns]

In [151]:
df

                                                     come  pers
2       ['enfp', 'intj', 'moments', 'sportscenter', 't...     1
3              ['life', 'changing', 'experience', 'life']     1
4                                     ['repeat', 'today']     1
5                ['may', 'perc', 'experience', 'immerse']     1
6       ['last', 'thing', 'infj', 'friend', 'posted', ...     1
...                                                   ...   ...
422681  ['going', 'close', 'facebook', 'months', 'back...     7
422682  ['seconds', 'mars', 'collections', 'seems', 'f...     7
422683  ['seen', 'agree', 'actually', 'think', 'first'...     7
422684  ['watched', 'underworld', 'awakening', 'must',...     7
422685  ['would', 'never', 'want', 'turn', 'emotions',...     7

[407911 rows x 2 columns]

SyntaxError: unexpected EOF while parsing (<ipython-input-150-f00825c57925>, line 1)

In [148]:
df

                                                     come  pers
2       ['enfp', 'intj', 'moments', 'sportscenter', 't...     1
3              ['life', 'changing', 'experience', 'life']     1
4                                     ['repeat', 'today']     1
5                ['may', 'perc', 'experience', 'immerse']     1
6       ['last', 'thing', 'infj', 'friend', 'posted', ...     1
...                                                   ...   ...
422681  ['going', 'close', 'facebook', 'months', 'back...     7
422682  ['seconds', 'mars', 'collections', 'seems', 'f...     7
422683  ['seen', 'agree', 'actually', 'think', 'first'...     7
422684  ['watched', 'underworld', 'awakening', 'must',...     7
422685  ['would', 'never', 'want', 'turn', 'emotions',...     7

[407911 rows x 2 columns]

In [29]:
yes

Empty DataFrame
Columns: [come, pers]
Index: []

In [13]:
caca

NameError: name 'caca' is not defined